* {
    margin: 0 auto;
    padding: 0;
}

body {background: white;
}

header .logo a {
    font-family: 'Lobster', cursive;
	font-size:40px;
	color:black;
	text-decoration:none;
	line-height:70px;
	padding:10px;
}

box {
	background:#FCFFCC;
	width:100%;
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:center;
}

p {
    background: #fff;
    font-family: 'Roboto Slab', serif;
  	padding: 25px;
}

#cA, #cB, #cC {
    border: 0;
    background-color: #CCCCCC;
}

body button {
	font-family: 'Russo One', sans-serif;
	font-size:25px;
	background:#FFA6ED;
	color:#fff;
	text-align: center;
	text-decoration:none;
	border: 1px solid #fff;
	padding: 5px 10px;
	flex-grow:1;
	margin:2px;
}

body button:hover {
	background:#FF4DDB;
}